player_limit: -1
ip_forward: false
permissions:
  default:
    - bungeecord.command.server
    - bungeecord.command.list
  admin:
    - bungeecord.command.alert
    - bungeecord.command.end
    - bungeecord.command.ip
    - bungeecord.command.reload
timeout: ${TIMEOUT}
log_commands: ${LOG_COMMANDS}
online_mode: ${ONLINE_MODE}
servers:
${CONFIG_SERVERS}
listeners:
  - query_port: ${PORT}
    motd: '${GLOBAL_MOTD}'
    priorities:
${CONFIG_PRIORITIES}
    bind_local_address: true
    tab_list: GLOBAL_PING
    query_enabled: false
    host: 0.0.0.0:${PORT}
    forced_hosts:
${CONFIG_FORCED_HOSTS}
    max_players: ${MAX_PLAYERS}
    tab_size: 60
    ping_passthrough: false
    force_default_server: ${FORCE_DEFAULT_SERVER}
    proxy_protocol: false
disabled_commands:
  - disabledcommandhere
network_compression_threshold: 256
groups:
${CONFIG_GROUPS}
connection_throttle: 4000
connection_throttle_limit: 3
stats: f2876aa6-74d2-468c-90ee-1377111f1c9f
forge_support: ${FORGE_SUPPORT}
inject_commands: ${INJECT_COMMANDS}